@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(../img/972529720226.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

}

.card {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
    border-radius: 10px;
    text-align: center;
    background-image: linear-gradient(to top, rgb(161, 39, 255), rgb(21, 115, 246));
    height: 600px;
    width: 450px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.card img {
    filter: brightness(0) invert(1);
    margin-top: 50px;
    width: 100px;

}

.head {
    font-weight: bold;
    font-size: 2em;
}

.card p {
    color: white;
    font-size: 17px;
    margin-top: 15px;
}

.card input {
    width: 300px;
    align-items: center;
}

#user {
    box-shadow: none;
    outline: none;
    background: transparent;
    height: 20px;
    margin-top: 13%;
}

input[type="text"]::placeholder {
    color: white;
    font-size: 15px;
    border: none;


}

input[type="text"] {
    font-size: 20px;
    color: white;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

input[type="password"] {
    font-size: 20px;
    color: white;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

input[type="password"]::placeholder {
    color: white;
    font-size: 15px;
    border: none;
    background: transparent;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-bottom: 2px solid rgb(255, 255, 255);
}


input[type="password"]:focus,
textarea:focus {
    outline: none;
    border-bottom: 2px solid rgb(255, 255, 255);
}

input[type="text"]:focus,
textarea:focus:hover {
    transition: border-bottom 0.3s ease-out;
}

input[type="password"]:focus,
textarea:focus:hover {
    transition: border-bottom 0.3s ease-in-out;
}



#pass {
    margin-top: 10px;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    height: 20px;
}



#rad {
    cursor: pointer;
    height: 15px;
    margin-right: 45px;
    margin-left: -135px;
    margin-top: 25px;
}

/* .button {
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    height: 35px;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
    transition: transform 0.5s;
}

.button:hover {
    transform: scale(1.09);
    background-image: linear-gradient(to top, rgb(173, 65, 255), rgb(55, 138, 255));
    color: white;
} */

.lk {
    color: white;
    text-decoration: none;
}

.lk:hover {
    border-bottom: 1px solid white;
}

.shadow__btn {
    margin-top: 25px;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
}

.shadow__btn {
    background: rgb(0, 140, 255);
    box-shadow: 0 0 25px rgb(0, 140, 255);
}

.shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0, 140, 255),
        0 0 25px rgb(0, 140, 255),
        0 0 50px rgb(0, 140, 255),
        0 0 100px rgb(0, 140, 255);
}